{% load static %}
<!-- Side Navbar -->
<nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center"><a href="pages-profile.html"><img src="{{ student.profile_pic }}" alt="person" class="img-fluid rounded-circle"></a>
          <h2 class="h5">{{ user.first_name }} {{ user.last_name }} </h2><span>{{ user.username }}</span>
          <a href="{% url "UserProfileStudent" %}" class="btn btn-success btn-block">Update Profile</a>
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        <h5 class="sidenav-heading">Main</h5>
        <ul id="side-main-menu" class="side-menu list-unstyled">   
            {% url "StudentHomePage" as StudentHomePage %}               
          <li class="{% if request.path == StudentHomePage %} active {% endif %}">
            <a href="{% url "StudentHomePage" %}" class="{% if request.path == StudentHomePage %} active {% endif %}"> <i class=" icon-home"></i>Dashboard</a>
          </li>
<!-- 
          {% url "ViewAttendancePage" as ViewAttendancePage %}               
          {% url "ViewAttendanceData" as ViewAttendanceData %}               
          <li class="{% if request.path == ViewAttendancePage %} active {% endif %}{% if request.path == ViewAttendanceData %} active {% endif %}">
            <a href="{% url "ViewAttendancePage" %}" class="{% if request.path == ViewAttendancePage %} active {% endif %}"> <i class=" icon-home"></i>View Attendance</a>
          </li> -->

          
          {% url "LeaveApplyStudent" as LeaveApplyStudent %}
          <li class="{% if request.path == LeaveApplyStudent %} active {% endif %}">
              <a href="{% url "LeaveApplyStudent" %}"> <i class="{%if request.path == LeaveApplyStudent %} active {% endif %} icon-home"></i> Leave Apply</a>
          </li>

          {% url "FeedbackMessageStudent" as FeedbackMessageStudent %}
          <li class="{% if request.path == FeedbackMessageStudent %} active {% endif %}">
              <a href="{% url "FeedbackMessageStudent" %}"> <i class="{%if request.path == FeedbackMessageStudent %} active {% endif %} icon-home"></i> FeedBack</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>