    {% load static %}
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
          <!-- Sidebar Header    -->
          <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center"><a href="pages-profile.html"><img src="{% static "dashboard/img/avatar-7.jpg" %}" alt="person" class="img-fluid rounded-circle"></a>
              <h2 class="h5">Nathan Andrews</h2><span>Web Developer</span>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
          </div>
          <!-- Sidebar Navigation Menus-->
          <div class="main-menu">
            <h5 class="sidenav-heading">Main</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">                  
              <li><a href="{% url "AdminHomePage" %}"> <i class="icon-home"></i>Dashboard</a></li>
              <li><a href="{% url "AddStaff" %}"> <i class="icon-home"></i>Add Staff</a></li>
              <li><a href="{% url "ManageStaff" %}"> <i class="icon-home"></i>Manage Staff</a></li>
              <li><a href="{% url "AddStudent" %}"> <i class="icon-home"></i>Add Student</a></li>
              <li><a href="{% url "ManageStudent" %}"> <i class="icon-home"></i>Manage Student</a></li>
              <li><a href="{% url "AddCourse" %}"> <i class="icon-home"></i>Add Course</a></li>
              <li><a href="{% url "ManageCourse" %}"> <i class="icon-home"></i>Manage Course</a></li>
              <li><a href="{% url "AddSubject" %}"> <i class="icon-home"></i>Add Subject</a></li>
              <li><a href="{% url "ManageSubject" %}"> <i class="icon-home"></i>Manage Subject</a></li>
              <li><a href="index.html"> <i class="icon-home"></i>Veiw Attendance</a></li>
              <li><a href="index.html"> <i class="icon-home"></i>Staff Leave</a></li>
              <li><a href="index.html"> <i class="icon-home"></i>Student Leave </a></li>
              <li><a href="index.html"> <i class="icon-home"></i>StudentFeedback </a></li>
              <li><a href="index.html"> <i class="icon-home"></i>Staff Feedback</a></li>
            </ul>
          </div>
        </div>
      </nav>